<!DOCTYPE html>
<html xmlns:th="http://www.springframework.org/schema/mvc">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{style.css}" />
</head>
<body>
<div class="container">
    <div class="options-box">
        <h1>Vart tror du att vi är?</h1>
        <div>
            <input id="show-listings" type="button" value="Börja spelet"/>
            <div class="results"></div>

        </div>

        <input id="userInput" type="text" name="userInput"/>
        <button id="userSubmit" type="button" onclick="checkIfCorrectAnswer();">Gissa</button>

        <div id="score"></div>
        <div id="correctAnswer"></div>


        <button id="hint1" type="button"><div>Ledtråd 1</div></button>

        <div id="hintbox1"></div>
        <button id="hint2" class="hint" type="button"><div>Ledtråd 2</div></button>
        <div id="hintbox2"></div>

    </div>

    <div id="map"></div>
</div>
<script type="text/javascript" th:src="@{script.js}"></script>
<script th:inline="javascript">

    var map;
    var random;
    var locations;
    var highscore=0;
    var markers = [];
    var arr = [];
    var correctAnswer;
    

    //Create a new blank array for all the listing markers.

    function initMap() {
        var styles = [
            {
                featureType: "all",
                elementType: "labels",
                stylers: [
                    { visibility: "off" }
                ]
            }
        ];
        // Constructor creates a new map - only center and zoom are required.
        map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: 48.236989, lng: 5.111068},
            zoom: 2,
            styles: styles,
            disableDefaultUI: true,
            mapTypeControl: false
        });
        genRandoms();

        //Array med all locationdata
        locations=[
            {title: [[${citys[0].name}]], location: {lat:[[${citys[0].longitud}]], lng:[[${citys[0].latitud}]]},id:[[${citys[0].id}]], hint1: [[${citys[0].hint1}]], hint2: [[${citys[0].hint2}]]},
            {title: [[${citys[1].name}]], location: {lat:[[${citys[1].longitud}]], lng:[[${citys[1].latitud}]]},id:[[${citys[1].id}]], hint1: [[${citys[1].hint1}]], hint2: [[${citys[1].hint2}]]},
            {title: [[${citys[2].name}]], location: {lat:[[${citys[2].longitud}]], lng:[[${citys[2].latitud}]]},id:[[${citys[2].id}]], hint1: [[${citys[2].hint1}]], hint2: [[${citys[2].hint2}]]},
            {title: [[${citys[3].name}]], location: {lat:[[${citys[3].longitud}]], lng:[[${citys[3].latitud}]]},id:[[${citys[3].id}]], hint1: [[${citys[3].hint1}]], hint2: [[${citys[3].hint2}]]},
            {title: [[${citys[4].name}]], location: {lat:[[${citys[4].longitud}]], lng:[[${citys[4].latitud}]]},id:[[${citys[4].id}]], hint1: [[${citys[4].hint1}]], hint2: [[${citys[4].hint2}]]},
            {title: [[${citys[5].name}]], location: {lat:[[${citys[5].longitud}]], lng:[[${citys[5].latitud}]]},id:[[${citys[5].id}]], hint1: [[${citys[5].hint1}]], hint2: [[${citys[5].hint2}]]},
            {title: [[${citys[6].name}]], location: {lat:[[${citys[6].longitud}]], lng:[[${citys[6].latitud}]]},id:[[${citys[6].id}]], hint1: [[${citys[6].hint1}]], hint2: [[${citys[6].hint2}]]},
            {title: [[${citys[7].name}]], location: {lat:[[${citys[7].longitud}]], lng:[[${citys[7].latitud}]]},id:[[${citys[7].id}]], hint1: [[${citys[7].hint1}]], hint2: [[${citys[7].hint2}]]},
            {title: [[${citys[8].name}]], location: {lat:[[${citys[8].longitud}]], lng:[[${citys[8].latitud}]]},id:[[${citys[8].id}]], hint1: [[${citys[8].hint1}]], hint2: [[${citys[8].hint2}]]},
            {title: [[${citys[9].name}]], location: {lat:[[${citys[9].longitud}]], lng:[[${citys[9].latitud}]]},id:[[${citys[9].id}]], hint1: [[${citys[9].hint1}]], hint2: [[${citys[9].hint2}]]},
            {title: [[${citys[10].name}]], location: {lat:[[${citys[10].longitud}]], lng:[[${citys[10].latitud}]]},id:[[${citys[10].id}]], hint1: [[${citys[10].hint1}]], hint2: [[${citys[10].hint2}]]},
        ];

        var largeInfowindow = new google.maps.InfoWindow();

        /*<![CDATA[*/
        //Skapar en array med random ordning
        function genRandoms() {
            while (arr.length < 11) {
                var randomnumber = Math.ceil(Math.random() * 11) -1;
                if (arr.indexOf(randomnumber) > -1) continue;
                arr[arr.length] = randomnumber;
            }
        }
        for (var i = 0; i < locations.length; i++) {
            // Get the position from the location array.
            var position = locations[i].location;
            var title = locations[i].title;
            // Create a marker per location, and put into markers array.
            var marker = new google.maps.Marker({
                position: position,
                title: " ",
                animation: google.maps.Animation.DROP,
                id: i
            });
            // Push the marker to our array of markers.
            markers.push(marker);
            // Create an onclick event to open an infowindow at each marker.
            marker.addListener('click', function() {
                populateInfoWindow(this, largeInfowindow);
            });
        }
        document.getElementById('show-listings').addEventListener('click', showListings);
    }

    // This function populates the infowindow when the marker is clicked. We'll only allow
    // one infowindow which will open at the marker that is clicked, and populate based
    // on that markers position.
    function populateInfoWindow(marker, infowindow) {
        // Check to make sure the infowindow is not already opened on this marker.
        if (infowindow.marker != marker) {
            infowindow.marker = marker;
            infowindow.setContent('<div>' + marker.title + '</div>');
            infowindow.open(map, marker);
            // Make sure the marker property is cleared if the infowindow is closed.
            infowindow.addListener('closeclick', function() {
                infowindow.marker = null;
            });
        }
    }

    // This function will loop through the markers array and display them all.
    function showListings() {
        hideListings();
        var bounds = new google.maps.LatLngBounds();
        // Extend the boundaries of the map for each marker and display the marker

        random = newNumber();
        console.log("Random är: " + random);
        correctAnswer = locations[random].title;
        if(random===undefined)
            document.getElementById("score").innerHTML = 'Grattis, din score är '+ highscore+' p';
        markers[random].setMap(map);
        bounds.extend(markers[random].position);
        map.fitBounds(bounds);
        map.setZoom(10);
        document.getElementById("hintbox2").style.display = 'none';
        document.getElementById("hintbox1").style.display = 'none';

    }

    function newNumber(){
        return arr.shift();
    }

    // This function will loop through the listings and hide them all.
    function hideListings() {
        for (var i = 0; i < markers.length; i++) {
            markers[i].setMap(null);
        }
    }

    function checkIfCorrectAnswer() {

            var input = document.getElementById("userInput").value;

            // Ändra "a" till CityName
            if (input.toUpperCase() == locations[random].title.toUpperCase()) {
                document.getElementById("correctAnswer").innerHTML = "Rätt svar!";
                showListings();
                highscore = highscore + 100;
            }
            else {
                //visa ledtrådar/zooma ut/whatever
                document.getElementById("correctAnswer").innerHTML = "Rätt svar var " + correctAnswer;
                showListings();
                highscore = highscore - 50;
            }

            showScoreToUser();
            document.getElementById("userInput").value='';

    }


    function showScoreToUser(){
        document.getElementById("score").innerHTML = highscore+" p";
    }


    var hint1 = document.getElementById("hint1");
    hint1.onclick = function() {

        var p = document.getElementById("hintbox1");
            p.style.display = 'block';
            p.innerHTML = locations[random].hint1.toString();
            highscore=highscore-25;
            showScoreToUser();

    }
    var hint2 = document.getElementById("hint2");
    hint2.onclick = function() {

        var p = document.getElementById("hintbox2");
            p.style.display = 'block';
            p.innerHTML = locations[random].hint2.toString();
            highscore=highscore-25;
            showScoreToUser();
    }

    var startGame = document.getElementById("show-listings");
    startGame.onclick = function() {
        if (startGame.style.display !== 'none') {
            startGame.style.display = 'none';
        }
        else {
            startGame.style.display = 'block';
        }
    }


/*]]>*/
</script>


<script async="async" defer="defer" src = "https://maps.googleapis.com/maps/api/js?key=AIzaSyD_Cx6d7XlQkmfxpLS8tryg0Txw1xvXrr0&amp;v=3&amp;callback=initMap">
</script>

</body>
</html>

