<!DOCTYPE html>
<html xmlns:th="http://www.springframework.org/schema/mvc">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{style.css}" />
</head>
<body>
<div class="container">
    <div class="options-box">
        <h1>Gissa var</h1>
        <div>
            <input id="show-listings" type="button" value="Show Listings"/>
            <input id="hide-listings" type="button" value="Hide Listings"/>
            <div class="results"></div>

        </div>

        <input id="userInput" type="text" name="userInput"/>
        <button id="userSubmit" type="button" onclick="checkIfCorrectAnswer()">Gissa</button>
    </div>

    <div id="map"></div>
</div>
<script type="text/javascript" th:src="@{script.js}"></script>
<script th:inline="javascript">

    var map;
    var random;
    var locations;
    var arr = []
    // Create a new blank array for all the listing markers.
    var markers = [];

    function initMap() {
        var styles = [
            {
                featureType: "all",
                elementType: "labels",
                stylers: [
                    { visibility: "off" }
                ]
            }
        ];
        // Constructor creates a new map - only center and zoom are required.
        map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: 40.7413549, lng: -73.9980244},
            zoom: 13,
            styles: styles,
            mapTypeControl: false
        });
        genRandoms();

        // These are the real estate listings that will be shown to the user.
        // Normally we'd have these in a database instead

        locations=[
            {title: [[${citys[0].name}]], location: {lat:[[${citys[0].longitud}]], lng:[[${citys[0].latitud}]]},id:[[${citys[0].id}]]},
            {title: [[${citys[1].name}]], location: {lat:[[${citys[1].longitud}]], lng:[[${citys[1].latitud}]]},id:[[${citys[1].id}]]},
            {title: [[${citys[2].name}]], location: {lat:[[${citys[2].longitud}]], lng:[[${citys[2].latitud}]]},id:[[${citys[2].id}]]},
            {title: [[${citys[3].name}]], location: {lat:[[${citys[3].longitud}]], lng:[[${citys[3].latitud}]]},id:[[${citys[3].id}]]},
            {title: [[${citys[4].name}]], location: {lat:[[${citys[4].longitud}]], lng:[[${citys[4].latitud}]]},id:[[${citys[4].id}]]},
            {title: [[${citys[5].name}]], location: {lat:[[${citys[5].longitud}]], lng:[[${citys[5].latitud}]]},id:[[${citys[5].id}]]},
            {title: [[${citys[6].name}]], location: {lat:[[${citys[6].longitud}]], lng:[[${citys[6].latitud}]]},id:[[${citys[6].id}]]}];

        var largeInfowindow = new google.maps.InfoWindow();

        /*<![CDATA[*/  // The following group uses the location array to create an array of markers on initialize.
        //Skapar en array med random ordning
        function genRandoms() {
            while (arr.length < 7) {
                var randomnumber = Math.ceil(Math.random() * 7)
                if (arr.indexOf(randomnumber) > -1) continue;
                arr[arr.length] = randomnumber;
            }
        }
        for (var i = 0; i < locations.length; i++) {
            // Get the position from the location array.
            var position = locations[i].location;
            var title = locations[i].title;
            // Create a marker per location, and put into markers array.
            var marker = new google.maps.Marker({
                position: position,
                title: title,
                animation: google.maps.Animation.DROP,
                id: i
            });
            // Push the marker to our array of markers.
            markers.push(marker);
            // Create an onclick event to open an infowindow at each marker.
            marker.addListener('click', function() {
                populateInfoWindow(this, largeInfowindow);
            });
        }
        document.getElementById('show-listings').addEventListener('click', showListings);
        document.getElementById('hide-listings').addEventListener('click', hideListings);
    }

    // This function populates the infowindow when the marker is clicked. We'll only allow
    // one infowindow which will open at the marker that is clicked, and populate based
    // on that markers position.
    function populateInfoWindow(marker, infowindow) {
        // Check to make sure the infowindow is not already opened on this marker.
        if (infowindow.marker != marker) {
            infowindow.marker = marker;
            infowindow.setContent('<div>' + marker.title + '</div>');
            infowindow.open(map, marker);
            // Make sure the marker property is cleared if the infowindow is closed.
            infowindow.addListener('closeclick', function() {
                infowindow.marker = null;
            });
        }
    }

    // This function will loop through the markers array and display them all.
    function showListings() {
        hideListings();
        var bounds = new google.maps.LatLngBounds();
        // Extend the boundaries of the map for each marker and display the marker

        random = newNumber();
        console.log("Nummer " + random);
        markers[random].setMap(map);
        bounds.extend(markers[random].position);
        map.fitBounds(bounds);
        map.setZoom(13);
    }

    function newNumber(){
        return arr.shift();
    }

    // This function will loop through the listings and hide them all.
    function hideListings() {
        for (var i = 0; i < markers.length; i++) {
            markers[i].setMap(null);
        }
    }

    function checkIfCorrectAnswer() {
        var input = document.getElementById("userInput").value;

        // Ändra "a" till CityName
            if(input == locations[random].title){
                //do something
                showListings();
            }
            else {
                //visa ledtrådar/zooma ut/whatever
                hideListings();
            }
    }
/*]]>*/
</script>


<script async="async" defer="defer" src = "https://maps.googleapis.com/maps/api/js?key=AIzaSyD_Cx6d7XlQkmfxpLS8tryg0Txw1xvXrr0&amp;v=3&amp;callback=initMap">
</script>

</body>
</html>

