html,body {
    font-family: sans-serif;
    height: 100%;
    background: url("world_map_04.jpg");
    background-size: 80%;

}

#hintbox1,
#hintbox2 {
    position: relative;
}

#userInput {
   color: #2F4F4F;
   font-size: 10px;
   margin: 15px ;
   height: 5%; }

#indexrad2 {
    color: white;
    font-size: 15px;
    margin: 20px;
    text-align: center;
    height: 0%;
}
#indexrad3 {
    color: white;
    font-size: 150px;
    margin: 8px;
    text-align: center;
    height: 40%;
    animation-name: example;
    animation-duration: 4s;
}
#loptext {
    color:     #2F4F4F;
    font-size: 60px;
    margin: 0 0 10px 0;
    text-align: center;
}
#knapp {
    background-color: darkgrey; /* Green */
    color: #2F4F4F;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    margin:0 auto;
}
#knapp2 {
    background-color: black ; /* Green */
    color: white;
    padding: 20px 20px;
    text-align: center;
    text-decoration: none;
}
#sida1{
    background-color: burlywood;
    text-align: center;
    color:black;
    padding-top:10em;
}

* { color: #fff;
    text-decoration: none;

}
.container {
    height: 800px;
    width: 920px;
    margin: 0 auto;
    position: relative;
}

input {
    font-size: 12px;
}

/*  h1 {
      color:     #2F4F4F;
      font-size: 20px;
      margin: 0 0 10px 0;
      text-align: center;
  } */

#hide-listings,
#show-listings {
    width: 25%;
}

#map {
    bottom:0px;
    color: #2F4F4F;
    width: 100%;
    height: 70%;
    position: absolute;
    right: 0px;
}

.options-box {
    background: #DCDCDC;
    border: 1px solid #999;
    height: 35%;
    line-height: 34px;
    text-align: center;
    width: 100%;

}


